# ************************************************************
# ************************* REQUIRED *************************
# ************************************************************

# development | production
NODE_ENV=production    

# Secret used for signing JWT auth token
AUTH_SECRET="actual-auth-secret-here" 

# URL for connecting to the database. 
# Postgres: postgres://user:password@localhost:5432/ecommerce 
# SQLite: sqlite:./database.sqlite for SQLite
DATABASE_URL=sqlite:./database.sqlite



# ************************************************************
# ************************* OPTIONAL *************************
# ************************************************************

# Port used by app server. Defaults to 5000
PORT=5000

# URL used for serving UI in development (this variable has no impact in production)
DEV_UI_URL=http://localhost:5173

# Target (console | file | both | none) for app logs
APP_LOGS=console

# Target (console | file | both | none) for request logs
REQ_LOGS=console

# Target (console | file | both | none) for SQL logs
SQL_LOGS=console
