# Port used by app server
PORT=5000

# development | production
NODE_ENV=production    

# URL used for serving UI when NODE_ENV=development (this variable has no impact in production)
DEV_UI_URL=http://localhost:5173

# Target (console | file | both | none) for app logs
APP_LOGS=console

# Target (console | file | both | none) for SQL logs
SQL_LOGS=console
