.notfound-page {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}

.notfound-page .page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}